@font-face {
    font-family: 'BPG Nino Mtavruli';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot');
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/bpg-nino-mtavruli-webfont.woff2') format('woff2'),
        url('../fonts/bpg-nino-mtavruli-webfont.woff') format('woff'),
        url('../fonts/bpg-nino-mtavruli-webfont.ttf') format('truetype'),
        url('../fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular')
            format('svg');
}

@font-face {
    font-family: 'BPG Nino Mtavruli';
    font-weight: 700;
    font-style: bold;
    font-display: swap;
    src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/bpg-nino-mtavruli-bold-webfont.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../fonts/bpg-nino-mtavruli-bold-webfont.woff') format('woff'),
        /* Pretty Modern Browsers */
            url('../fonts/bpg-nino-mtavruli-bold-webfont.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold')
            format('svg'); /* Legacy iOS */
}
